[".oh-my-zsh"]
type = "archive"
url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
exclude = ["*/custom"]

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
type = "archive"
url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
exclude = ["*/.editorconfig", "*/.gitattributes", "*/.github", "*/.gitignore"]

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
type = "archive"
url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
exclude = ["*/.editorconfig", "*/.gitattributes", "*/.github", "*/.gitignore"]


[".local/share/fzf"]
type = "git-repo"
url = "https://github.com/junegunn/fzf.git"
exact = true
refreshPeriod = "168h"
clone.args = ["--depth=1", "--branch", "v0.67.0"]
pull.args = ["--ff-only"]

[".nvm"]
type = "archive"
url = "https://github.com/nvm-sh/nvm/archive/{{ .nvm.version }}.tar.gz"
stripComponents = 1
refreshPeriod = "168h"
