[diff]
{{- if lookPath "delta" }}
pager = "delta"
{{- else }}
pager = "less"
{{- end }}

[merge]
command = "vimdiff"

[git]
autoCommit = true
autoPush = false

[update]
command = "git"
{{- if and .git .git.defaultBranch }}
args = ["pull", "--autostash", "--rebase", "origin", "{{ .git.defaultBranch }}"]
{{- else }}
args = ["pull", "--autostash", "--rebase", "origin", "master"]
{{- end }}

[cd]
command = "zsh"
