[Unit]
Description=Run Pi Maintenance Agent every day in the evening

[Timer]
OnCalendar=*-*-* 17:01 America/New_York
Persistent=true
Unit=pi-maintenance-agent.service

[Install]
WantedBy=timers.target
